:root {
  /* Primary */
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan: hsl(167, 40%, 24%); /*graphic design text */
  --Dark-blue: hsl(198, 62%, 26%); /* photography text */
  --Dark-moderate-cyan: hsl(168, 34%, 41%); /* footer */

  /* neutral */

  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

body {
  font-family: ;
  font-size: 18px;
  
  min-height: 100vh;
  /* background-color: var(--Dark-blue); */
  color: var(--Very-dark-desaturated-blue);
  
}

header {
  display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1440px;
   

}

.topnav {
 
  overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
/* .topnav a:hover {
  background-color: #ddd;
  color: black; */
}

/* Add an active class to highlight the current page */
.topnav a.active {
  
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}


.topnav__items {
    text-decoration: none;
    color: var(--White);
}

.topnav__btn {

}

.section--1 {
    background-image: url(./images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* display: flex;
    flex-direction: column; */
    color: white;
    height: 45rem;
    background-position:center;
}

.section--1__img-one {
    width: 100%;
    max-width: 45px;
    position: absolute;
    left: 50%;
    /* bottom: 50%; */
    display: inline-block;
   
}

.section--1__header {
    text-align: ;
}

.section--2 {
  display: grid;
  justify-content: center;

}

.section--2__up {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section--2__down {

  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 600px;
}

.section--2__down-box {
  display: flex;
    align-items: flex-end;
    justify-content: center;
}

.section--2__up-link-egg {
  text-decoration-line: underline;
  text-decoration-color: var(--Yellow) ;
  text-decoration-thickness: 5px;
}

.section--2__up-link-glass {
  text-decoration-line: underline;
  text-decoration-color: var(--Soft-red) ;
  text-decoration-thickness: 3px;
}

.section--2__up-box-img {
  width: 100%;
  max-width: 720px;
}

.section--2__down-box-left {
  background-image: url(./images/desktop/image-graphic-design.jpg);
  background-repeat: no-repeat;
  color: var(--Dark-desaturated-cyan);
  background-position:center;
}

.section--2__down-box-right {
  background-image: url(./images/desktop/image-photography.jpg);
  background-repeat: no-repeat;
  color: var(--Dark-blue);
  background-position:center;
}

.section--2__down-info {
  display: flex;
    flex-direction: column;
    align-items: center;
}

.section--2__down-excerpt {
  width: 39ch;
  text-align: center;
}



.section--3 {
  background-color: var(--White) ;
  color: var(--Dark-grayish-blue);
  display: flex;
    flex-direction: column;
    align-items: center;
}

.section--3__testimonials {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  
}

.section--3__testimonial {
  display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-img {
  border-radius: 50%; 
  width: 100%;
  max-width: 74px;
}

.section--3__header {
  text-align: center;
  text-transform: uppercase;
  color: var(--Grayish-blue);
 
}

.section--3__excerpt {
  width: 36ch;
  display: inline-block;
  text-align: center;
}

.section--4 {
  
}

.section--4__gallery {
  display: grid;
    grid-template-columns: repeat(4,1fr);
}

.section--4__img {
  max-width: 600px;
  width: 100%;
}

footer {
  background-color: var(--Dark-moderate-cyan);
}

.footer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}





@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

header {
  align-items: flex-start;
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
